In [1]:
# Import necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [5]:

data = pd.read_csv('winequality-red.csv', sep=';')

In [7]:
# Display the first few rows of the data
data.head()

  fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Id
0  7.4,0.7,0.0,1.9,0.076,11.0,34.0,0.9978,3.51,0....
1  7.8,0.88,0.0,2.6,0.098,25.0,67.0,0.9968,3.2,0....
2  7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.997,3.26,0...
3  11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.998,3.16,...
4  7.4,0.7,0.0,1.9,0.076,11.0,34.0,0.9978,3.51,0....

In [12]:
# Verify Column Names
print(data.columns)

Index(['fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Id'], dtype='object')

In [13]:
#Check for Leading/Trailing Whitespaces
data.columns = data.columns.str.strip()
print(data.columns)  # Recheck column names

Index(['fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Id'], dtype='object')

In [14]:
# Ensure column names are clean and as expected
data.columns = data.columns.str.strip()

# Check if 'quality' is in the dataset
if 'quality' not in data.columns:
    raise ValueError("Column 'quality' not found in the dataset. Please check the dataset.")

# Drop unnecessary columns and prepare features and target
X = data.drop('quality', axis=1)  # Features
y = data['quality']  # Target variable

ValueError: Column 'quality' not found in the dataset. Please check the dataset.

In [15]:
print(data.info())  # Check for null values or incorrect data types

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1143 entries, 0 to 1142
Data columns (total 1 columns):
 #   Column                                                                                                                                                Non-Null Count  Dtype
---  ------                                                                                                                                                --------------  -----
 0   fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Id  1143 non-null   object
dtypes: object(1)
memory usage: 9.1+ KB
None

In [18]:
data = data.drop(columns=['Id'], errors='ignore')

In [24]:
print(data.info())  # Check data types and missing values
print(data.isnull().sum())  # Summarize missing values

# If missing values exist, handle them
data = data.dropna()  # Simple example: Drop rows with missing values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1143 entries, 0 to 1142
Data columns (total 1 columns):
 #   Column                                                                                                                                                Non-Null Count  Dtype
---  ------                                                                                                                                                --------------  -----
 0   fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Id  1143 non-null   object
dtypes: object(1)
memory usage: 9.1+ KB
None
fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Id    0
dtype: int64

In [22]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

NameError: name 'X' is not defined

In [23]:
print(data.head())

  fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Id
0  7.4,0.7,0.0,1.9,0.076,11.0,34.0,0.9978,3.51,0....
1  7.8,0.88,0.0,2.6,0.098,25.0,67.0,0.9968,3.2,0....
2  7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.997,3.26,0...
3  11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.998,3.16,...
4  7.4,0.7,0.0,1.9,0.076,11.0,34.0,0.9978,3.51,0....

In [25]:
from sklearn.model_selection import train_test_split

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

NameError: name 'X' is not defined

In [26]:
# Display dataset information
print(f"Training set size: {X_train.shape}")
print(f"Test set size: {X_test.shape}")

NameError: name 'X_train' is not defined

In [27]:
#Define and Compile the DNN Model
def build_dnn_model(input_shape):
    """
    Builds a simple deep neural network for regression.

    Args:
        input_shape (tuple): Shape of the input features.

    Returns:
        model: A compiled TensorFlow DNN model.
    """
    model = models.Sequential([
        layers.Dense(128, activation='relu', input_shape=input_shape),
        layers.Dropout(0.2),  # Regularization
        layers.Dense(64, activation='relu'),
        layers.Dropout(0.2),
        layers.Dense(32, activation='relu'),
        layers.Dense(1)  # Single output for regression
    ])
    
    model.compile(optimizer='adam', loss='mean_squared_error', metrics=['mae'])
    return model

# Get the input shape
input_shape = (X_train.shape[1],)  # Number of features
dnn_model = build_dnn_model(input_shape)

# Display model summary
dnn_model.summary()

NameError: name 'X_train' is not defined

In [28]:
# Train the model
history = dnn_model.fit(
    X_train, y_train,
    validation_data=(X_test, y_test),
    epochs=50,
    batch_size=32,
    verbose=1
)

# Plot training and validation metrics
plt.plot(history.history['loss'], label='Training Loss')
plt.plot(history.history['val_loss'], label='Validation Loss')
plt.xlabel('Epochs')
plt.ylabel('Loss (MSE)')
plt.legend()
plt.show()

NameError: name 'dnn_model' is not defined

In [30]:
# Evaluate on the test set
loss, mae = dnn_model.evaluate(X_test, y_test, verbose=2)
print(f"Test Loss: {loss:.4f}, Test MAE: {mae:.4f}")

NameError: name 'dnn_model' is not defined

In [31]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error

# Train Random Forest Regressor
rf_model = RandomForestRegressor(n_estimators=100, random_state=42)
rf_model.fit(X_train, y_train)

# Predict on the test set
rf_predictions = rf_model.predict(X_test)

# Evaluate Random Forest
rf_mse = mean_squared_error(y_test, rf_predictions)
rf_mae = mean_absolute_error(y_test, rf_predictions)

print(f"Random Forest Test MSE: {rf_mse:.4f}")
print(f"Random Forest Test MAE: {rf_mae:.4f}")

NameError: name 'X_train' is not defined

In [32]:
# Display performance comparison
print(f"DNN Test MSE: {loss:.4f}, Test MAE: {mae:.4f}")
print(f"Random Forest Test MSE: {rf_mse:.4f}, Test MAE: {rf_mae:.4f}")

NameError: name 'loss' is not defined